.formulario {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input,
textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
}

h2 {
    text-align: center;
}

.orderId {
    display: block;
    margin: 4rem;
    padding: 2rem;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 5px;

}

.itemPedido{
    background-color: #FFD103;
    border-radius: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid #ccc;

}

.stpedido {

    color: black;
    font-size: 2rem;

}
.sterror{
    color:red;
}

@keyframes colorChange {
    0% {
        color: black;
    }

    60% {
        color: #0071DC;
    }

    100% {
        color: black;
    }
}

.ordenId {
    animation: colorChange 2s linear infinite;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}

