header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #4123B8;
    background-color: #0071DC;
    border-radius: 20px;
    width: 100%;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}

.logoChilectra {
    width: 10rem;
}

.miBtnnav {
    background-color: white;
    border-radius: 10px;
    border: none;
    color: #4123B8;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}