header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0071DC;
    border-radius: 20px;
    width: 100%;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}

.logoChilectra {
    width: 10rem;
}

.miBtnnav {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #4123B8;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

.active {
    background-color: aquamarine;
}

.isoChilectra {
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-weight: bold;
    font-size: 45px;
    color: #FFD103;
    text-shadow: -1px 0 rgb(28, 49, 233), 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68,
        -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68,
        3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68, 6px 6px #414D68,
        7px 7px #414D68, 8px 8px #414D68, 9px 9px #414D68;
}
